{% include "header.html" %}
{% load crispy_forms_tags %}
<html>
<head>
<title>Usuario </title>
{{error}}
</head>
<body>
    <br><br>
<div class="container ">
    <div class="row justify-content-md-center">
    <h1>Editar usuario</h1><br>
    </div>
    <div class="row justify-content-md-center">
      {% load static %}
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy}}
    <div class="row justify-content-md-center ">
    <div class="col">
    <input type="submit" value="Editar usuario" class="btn btn-success"/></div>
    <div class="col">
    <a href="/crud/welcome" type="button" class="btn btn-primary"  >Atras</a></div>
    </div>
    </form>
    </div>
    
</div>
</body>
</html>
