{% include "header.html" %}
{% load crispy_forms_tags %}
{% include "menu.html" %}
<div class="container ">
    <div class="row justify-content-md-center">
    <h1> Envia mensaje </h1>
    </div>
    <div class="row justify-content-md-center">
    
    <form action="" method="POST" enctype="multipart/form-data">
            {{form|crispy}}
<input type="submit" value="Enviar mensaje" class="btn btn-success"/>
<a href="welcome" type="button" class="btn btn-primary" >Atras</a>
</form>
</div>
</div>
