<a href="login" type="button" class="btn btn-primary" >Login</a>
<a href="loggoutt" type="button" class="btn btn-danger" >Salir</a>
<a href="mensajes" type="button" class="btn btn-primary" >Mensajes</a>
<a href="crear_mensaje" type="button" class="btn btn-primary" >Crear mensaje</a>

