{% include "header.html" %}

<form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ profile_form.as_p }}

<div class="container" >
  <p style="text-align:center;">
  <h1>bienvenido</h1>
  {% include "menu.html" %}
  </p>

<div class="row" style="padding:10px;"> 
    <div class="col-8"></div>
    <div class="col-2">
      <a style="display:block" href="/crud" type="button" class="btn btn-primary btn-sm">
          Crear nuevo usuario</a>
    </div>
</div>

 <div class="row" style="background-color:#C0EAD7; text-align:center" > 
  <div class="col-sm" >id</div>
  <div class="col-sm">email</div>
    <div class="col-sm">nombre</div>
  <div class="col-sm">staff</div>
  <div class="col-sm">supersuser</div>
  <div class="col-sm"></div>
 </div>
  {% load static %}

  {% for obj in data  %}
  
 <div class="row" style="text-align:center" >
 <div class="col-sm">

   {{obj.id}} 
  
  {% if  obj.avatar != "" %}
    <img class="img-fluid img-thumbnail" style="max-width:70px; max-height:50px" src=" /media/{{obj.avatar}} ">
   {% endif %}
   </div>
  <div class="col-sm">
   {{obj.email}}  
   </div>
  <div class="col-sm">
   {{obj.firstName}} {{obj.lastName}}
   </div>
  <div class="col-sm">
   {{obj.isStaff}}
   </div>
  <div class="col-sm">
   {{obj.isSuperuser}} 
   </div>
     <div class="col-sm" style="padding:5px">
   <a href="{{obj.id}}/edit" type="button" class="btn btn-primary btn-sm"  >Editar</a>
   <a href="{{obj.id}}/delete" type="button" class="btn btn-danger btn-sm"  >Eliminar</a>
   </div>
  </div>
  {% endfor %}

  </div>
</form>

