{% include "header.html" %}
{% load crispy_forms_tags %}

<br><br>
<div class="container " >
<div class="row justify-content-md-center">
    <h1>Crear usuario</h1>
</div>

<div class="row justify-content-md-center" >
 <form action="" method="post">
   {% csrf_token %}
{{form|crispy}}

<div class="row justify-content-md-center" >
    <div class="col">
    <input type="submit" value="Crear"  class="btn btn-success" style="right:10px"> </div>
    <div class="col">
    <a href="welcome" type="button" class="btn btn-primary"  >Atras</a></div>
    {{ succes }}
</div>


</form>

</div>