{% include "header.html" %}
{% load crispy_forms_tags %}
<div class="row justify-content-md-center" >
<h1>Iniciar sesión</h1>
</div>
<div class="row justify-content-md-center" >

<form action="" method="post" enctype="multipart/form-data">
   {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Entrar"  class="btn btn-success" style="right:10px">
    <a href="welcome" type="button" class="btn btn-primary" >Crud</a>
     </div>
    
</form>

</div>
