{% include "header.html" %}


<div class="container" >
  <p style="text-align:center;">
  <h1>Mensajes</h1>
  {% include "menu.html" %}
  </p>

{% for obj in data  %}
 {% comment %} {{obj}}  {% endcomment %}
 {{obj}}
{% endfor %}


<div class="row" style="padding:10px;"> 
    <div class="col-8"></div>
    <div class="col-2">
      {% comment %} <a style="display:block" href="/crud" type="button" class="btn btn-primary btn-sm">
          Crear nuevo usuario</a> {% endcomment %}
    </div>
</div>

 <div class="row" style="background-color:#C0EAD7; text-align:center" > 
  <div class="col-sm" >id</div>
  <div class="col-sm">email</div>
    <div class="col-sm">nombre</div>
  <div class="col-sm">staff</div>
  <div class="col-sm">supersuser</div>
  <div class="col-sm"></div>
 </div>
  {% load static %}

  {% comment %} {% for obj in data  %} {% endcomment %}
  
 <div class="row" style="text-align:center" >
 <div class="col-sm">

   {{obj.id}} 
  
   </div>
  <div class="col-sm">
   {{obj.email}}  
   </div>
  <div class="col-sm">
   {{obj.firstName}} {{obj.lastName}}
   </div>
  <div class="col-sm">
   {{obj.isStaff}}
   </div>
  <div class="col-sm">
   {{obj.isSuperuser}} 
   </div>
     <div class="col-sm" style="padding:5px">
   <a href="{{obj.id}}/ver" type="button" class="btn btn-primary btn-sm" >Ver</a>
   
   </div>
  </div>
  {% comment %} {% endfor %} {% endcomment %}

  </div>
